doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    link(rel='stylesheet', type='text/css', href='css/semantic-ui/semantic.min.css')
    script(src='js/jquery/jquery.min.js')
    script(src='js/semantic-ui/semantic.min.js')
    title flipcoder

  body
    .ui.container
      h1 flipcoder's Project Page
      a(href='https://github.com/flipcoder/') View My GitHub

